* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

/* section 1 boxses */

.section1 {
    height: 1084px ;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 86.13%, #FFF 100%),
                url(img/section1-backgraund.png) center,
                lightgray 50%;  
    background-repeat: no-repeat; 
}

/* nav */

.header {
    display: flex;
    justify-content: space-between;
    padding: 40px 15%;
}

.nav {
    display: flex;
    align-items: center;
    
}

.nav-list-menu{
    display: flex;
}

.button-furtinure {
    position: relative;
      
}

.nav-list-text {
    font-size: 18px;
    font-family: Abel;
    margin: 0px 32px;
    color: #ffffff;
    display: block;   
}



.nav-hidden-list {
    position: absolute;
    left: 0;
    width: 180px;
    display: none;
    
}
.button-furtinure:hover > .nav-hidden-list  {
    display: block;
}

/* nav */

.button-furniture {
    background: transparent;
    border: none !important;
    display: flex;
    padding: 0px;
    align-items: center;
    gap: 8px;
    
}

.bag-box {
    position: relative;
}

.bag-counter {
    position: absolute;
    top: 3px;
    right: -6px;
    display: block;
    border: 3px solid #E58411 ;
    background-color: #E58411;
    color: #FFF;
    font-size: 18px;
    font-weight: 900;
    border-radius: 10px;
}

.search-box {
    display: flex;
    justify-content: space-between;
    width: 344px;
    padding: 8px 8px 8px 20px;
    align-items: center;
    border-radius: 42px;
    border: 0.9px solid rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(4px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
}

.button-saerch {
    display: flex;
    padding: 11px;
    border-radius: 24px;
    background: #E58411;
    border-style: none;
}


/* text-style */

.logo-text-style {
    color: #FFF;
    font-size: 28px;
    font-family: Lobster;
    letter-spacing: 0.28px;
    text-transform: capitalize;
}

h1 {
    color: #FFF;
    font-size: 80px;
    text-align: center;
    font-family: Abel;
    line-height: 130%;
    letter-spacing: -0.8px;
    text-transform: capitalize;
    margin-bottom: 14px;
}

.subtitle-text-style {
    display: flex;
    flex-direction: column;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-family: Roboto Regular;
    line-height: 160%;
}

.search-input {
    color: #fff;
    text-align: start;
    font-size: 18px;
    line-height: 150%;
    background: transparent;
    border: none !important;
}
.search-input:focus {
    outline: none;
}