/* 1 first section */
    /* comtainers */
        .section1{
            display: flex;
            justify-content: space-around;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 86.13%, #FFF 100%),
                        url('image/section1backgraund.png'),
                        lightgray 50% / cover no-repeat;
            width: 1440px;
            height: 1084px;
            /* flex-shrink: 0; */
        }
        .pe2{
            border: 2px solid red
        }
        .box-arrow_nav{
            width: 18px;
            height: 18px;
        }

        .button_nav{
            background: transparent;
            border: none !important;
        }
        .box-nav{
            width: 478px;
            height: 22px;
            /* flex-shrink: 0; */
            display: flex;
            justify-content: space-between;
        }

    /* text-styles */
        .text-style-logo{
            color: #FFF;
            font-size: 28px;
            font-family: Gilroy-Bold;
            letter-spacing: 0.28px;
            text-transform: capitalize;
        }
        .text-style-nav{
            color: #FFF;
            font-size: 18px;
            font-family: Gilroy-Medium;
        }